@media screen and (min-width: 1900px){
	.main-footer .footer-bg{
		top: -70%;
	}
	.type-2 .blog-top{
		width: 27%;
	}
}
@media screen and (max-width: 1400px){
	.grid{
		width: 80vw;
	}
	.bottom-header{
		grid-template-columns: 10vw 1fr 10vw;
	}
	.sort-block{
		height: 3em;
		width: 80%;
	}
	.right-panel_bg{
		top: 70px;
	}
	.main-slider_left, .main-slider_right{
		width: 8vw;
	}
	.main-blog-flex h2{
		margin-top: 10%;
	}
}
@media screen and (max-width: 1250px){
	.grid{
		width: 90vw;
	}
	.bottom-header{
		grid-template-columns: 5vw 1fr 5vw;
	}
	.main-blog-flex h2{
		margin-top: 5%;
	}
	.middle-header{
		z-index: 2;
	}

}
@media screen and (max-width: 1110px){
	.grid{
		width: 95vw;
	}
	.main-blog-flex h2{
		margin-top: 3%;
	}
}
@media screen and (max-width: 1100px){
	.middle-header .grid{
		display: flex;
	}
	.middle-header .grid .main-menu{
		margin: auto;
	}
	.main-logo{
		width: min-content;
	}
	.middle-header .main-menu-element{
		margin-right: 0;
		padding: 25px 0 20px 10px;
	}
	.main-blog-flex h2{
		margin-top: 1%;
	}
	.main-blog-flex h1{
		font-size: 2em;
	}
	.blogs .type-3{
		width: calc(33% - 12px);
	}
	.blog .blog-bottom .author-menu{
		flex-flow: row wrap;
	}
	.type-3 .blog-bottom .author-menu .author{
		margin: auto;
	}
	.blog .blog-bottom .author-menu .p-t0{
		padding-top: 1em !important;
	}
	.blog .blog-bottom .author-menu .move-vert{
		top: 75%;
		transform: translateY(-100%);
	}
	.main-footer .twitter .options{
		flex-flow: row wrap;
	}
	.main-footer .twitter .options p{
		width: 100%;
		margin-bottom: 0;
		margin-top: 1em;
	}
	.main-footer .twitter .options a{
		width: max-content;
	}
	.social-subcribe a.fa{
		height: 25px;
		width: 25px;
	}
	.social-subcribe a.fa::before{
		font-size: 0.9em;
	}
	.main-footer .footer-bg{
		top: -13em;
	}
	.main-footer .news .submInput:hover{
		background-color: #303F9F;
	}
	.right-panel .widget-blogs .widget-blog .blog-description>span{
		font-size: 60%;
	}
}

@media screen and (min-width: 951px){
	.type-2 .blog-top img{
		width: initial !important;
	}
	.blogs .type-2 .blog-bottom .author-menu{
		padding: 1em;
		padding-bottom: 0;
	}

	/* ----------- Динамика ------------------ */
	.author-icon:hover img, .blog-top:hover .main-img, .main-footer .widget.flickr .img-container img:hover, .image-container:hover img{
		scale: 1.1;
	}
	.categories li:hover{
		background-color: #f5f5f5;
	}
}
@media screen and (max-width: 950px){
	.grid{
		width: 90vw;
	}
	.grid, .middle-header .main-menu, .middle-header .main-menu:hover .main-menu-element{
		display: block;
	}
	.middle-header .main-menu-element:hover img[alt="arrow_down"]{
		transform: rotateX(180deg);
	}
	.lang-block:hover img[alt='arrow_down']{
		transform: rotateX(180deg);
	}
	.top-header{
		height: auto;
		background-color: #303F9F;
		font-size: 1.3em;
	}
	.top-header .login-lang{
		display: flex;
		justify-content: space-between;
	}
	.top-header .login-lang .lang-block{
		order: 1;
	}
	.top-header .login-lang .account-block{
		order: 2;
	}
	.lang-block:hover .appearable-window{
		margin: 0;
	}
	.middle-header .grid{
		justify-content: space-between;
	}
	.middle-header .grid .main-menu{
		order: 1;
		margin: 0;
	}
	.main-logo{
		order: 2;
		margin-top: 20px;
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
	}
	.header-icons{
		order: 3;
		padding-top: 20px;
		padding-bottom: 10px;
	}
	.middle-header-icon{
		padding: 0;
	}
	.middle-header .main-menu-element .appearable-window li{
		padding: 5px 0;
		margin: 0;
		padding-left: 1em;
	}
	.appearable-window li{
		background-color: transparent;
	}
	.top-header .social-links, .bg-div .header-bg-image, .main-slider_left, .main-slider_right, .right-panel, .footer-bg, .photos, .more-container, .right-panel_bg, .bottom-header, .header-icons .right_border, .bg-div::before, .widget.news, .widget.social-subcribe, .widget.twitter, .subscribe-field, .widget.pages{
		display: none !important;
	}
	.main-menu .main-menu-element{
		display: none;
	}
	.middle-header-bg{
		height: 100%;
		background-color: #3F51B5;
	}
	.middle-header{
		position: initial;
		height: 100%;
	}
	.burger-button{
		margin-top: 25px;
		margin-bottom: 10px;
	}
	.burger-button::after, .burger-button::before{
		content: '';
		display: block;
		position: relative;
	}
	.burger-button::after{
		top: 5px;
	}
	.burger-button::before{
		bottom: 5px;
	}
	.burger-button .burger-line, .burger-button::after, .burger-button::before{
		width: 30px;
		height: 0;
		border-top: 2px solid #fff;
	}
	.middle-header .main-menu-element{
		float: initial;
		padding: 11px 0;
	}
	.middle-header .main-menu-element .appearable-window{
		margin-top: 10px;
	}
	.bg-div{
		position: initial;
	}
	.middle-header-bg{
		position: initial;
	}
	.appearable-window{
		position: initial;
		background-color: transparent;
	}
	.main-menu li.selected{
		border: none;
	}
	.sorts{
		position: relative;
		height: 100%;
	}
	.sorts .sort{
		font-size: 1.5em;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	a.fa{
		width: auto !important;
		height: auto !important;
		font-size: 1.4em;
	}
	.search input{
		background-color: #fff;
	}
	.main-footer{
		font-size: 2em
	}
	.main-footer p{
		color: #8C8C8C;
	}
	.main-footer .subscribe-field span{
		font-size: 2em;
	}
	.bottom-footer .grid{
		display: none;
	}
	.main-footer .widget.flickr .img-container{
		width: calc(100% / 2 - 20px);
		margin: 0 20px 20px 0px;
	}
	.bottom-footer .social-links{
		display: flex;
		justify-content: space-around;
		padding: 1em 0;
	}
	.social-links{
		width: 100%;
	}
	.bottom-footer a.fa{
		color: #8C8C8C;
	}
	.bottom-footer .right_border{
		padding-right: 1em;
	}
	.bottom-footer>p{
		margin: 0;
		text-align: center;
	}
	.blogs{
		width: 100%;
	}
	.blogs .blog .author{
		display: none;
	}
	.blogs .blog .author-menu{
		padding: 0;
	}
	.blogs .blog .blog-top{
		font-size: 2em;
	}
	.type-2 .blog-top .tag, .type-3 .blog-top .tag, .type-4 .blog-top .tag{
		bottom: calc(20px + 1em);
	}
	.type-2 .blog-top .comments-likes, .type-3 .blog-top .comments-likes, .type-4 .blog-top .comments-likes{
		right: none;
		left: 20px;
	}
	.blog .blog-top .comments-likes img{
		width: 0.7em;
	}
	.blogs .blog .blog-bottom{
		font-size: 1.3em;
	}
	.blogs .blog .blog-bottom h3{
		font-size: 1.5em;
	}
	.blogs .blog-bottom .description{
		display: none;
	}
	.blogs .type-1 .blog-bottom .description{
		display: block;
	}
	.blogs .type-1{
		width: 100%;
	}
	.blogs .type-1 .author{
		display: block;
		margin: 1em;
	}
	.blogs .type-2{
		width: 100%;
	}
	.blogs .type-2 .blog-top{
		width: 30%;
	}
	.blogs .type-2 .blog-bottom{
		width: 70%;
	}
	.blogs .type-2 .blog-top .main-img{
		width: auto;
		height: 100%;
	}
	.blogs .type-3{
		width: calc(50% - 20px);
	}
	.main-footer .categories{
		color: #bbb;
	}
	.main-footer .categories li{
		list-style: none;
		margin: 10px;
	}
	.main-footer .categories li:last-of-type{
		border: none;
	}
	li .left{
		float: none;
	}
	.main-footer h3{
		color: #fff;
		border: none;
	}
	.main-footer .tags a{
		background-color: transparent;
		color: #bbb;
		border: 1px solid #fff;
		padding: 4px 20px;
	}
}
@media screen and (max-width: 600px){
	.blogs .type-2 .blog-top{
		width: 40%;
	}
	.blogs .type-2 .blog-bottom{
		width: 60%;
	}
	.blogs .type-3 .blog-bottom h3{
		height: 6em;
	}
	.blog .blog-top::before{
		background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5) 0, transparent 50%);
	}
}
@media screen and (max-width: 700px){
	.blogs .blog .blog-top{
		font-size: 1.3em;
	}
	
}